.fixed-top {
  z-index : 2;
}

.dashboard-content {
  margin-top : 5rem;
  z-index    : 0;
}

.sidebar {
  bottom        : 0;
  z-index       : 5;
  font-size     : 1.2rem;
  left          : 0;
  padding-top   : 1rem;
  padding-right : 5px;
  position      : fixed;
  top           : 0;
  border        : 1px solid rgba(0, 0, 0, 0.6);
  .nav-item:last-child {
    margin : 0;
  }
  .nav-item {
    padding       : 5px 15px;
    background    : rgba($bg-link-sidebar, .7);
    font-size     : 1rem;
    border-radius : 0 19px 19px 0;
    margin-bottom : 3px;
  }
  .nav-item:hover {
    background : darken($bg-link-sidebar, 5%);
  }
  .nav-link {
    padding : 3px;
    color   : #fff;
  }
}

