@media (max-width : 576px) {
  .row {
    margin : 0;
  }
  .d-xs-none {
    display : none;
  }
  .col, .col-1, .col-2 {
    padding : 0 2px;
  }
  .container {
    padding : 0 5px;
  }
  .logo {
    font-size : 1.6rem;
    padding   : 5px 0;
  }
  h2 {
    font-size : 1.4rem;
  }
  h3 {
    font-size     : 1.2rem;
    margin-bottom : 0.3rem;
  }
  hr {
    margin : 0.5rem 0;
  }

}

@media (max-width : 768px) {
  .logo {
    padding : 10px 0;
  }
  .navbar {
    padding: 16px;
  }
}
