.navbar {
  background : $bg-navbar;
}

.navbar-brand {
  border: none;
}

.sidebar, .sideBar {
  background : $bg-sidebar;
}

.share {
  background : $bg-share;
}

footer {
  a {
    color : $link-color;
  }
  a:hover {
    color : darken($link-color, 15%);
  }
}