:root {
    --input-padding-x : .75rem;
    --input-padding-y : .75rem;
}

/*
 * Sidebar
 */

.sidebar {
    position  : fixed;
    bottom    : 0;
    left      : 0;
    top       : 0;
    font-size : 1.2rem;
    padding   : 1rem 0.5rem 0 0;
}

.sidebar .nav-item:last-child {
     border-top : 1px solid var(--secondary);
    border-bottom: none;
 }
.sidebar .nav-item {
    border-bottom : 1px solid var(--secondary);
}

.sidebar .nav-link {
    color : #fff;
}

.sidebar .nav-link:hover {
    box-shadow : 0 0 1rem #000;
}

/*.scrolled {*/
/*border  : none;*/
/*z-index : 999;*/
/*top     : 0;*/
/*}*/