body {
    color       : #333;
    background  : transparent;
    padding-top : 69px;
    font-size   : 1.5rem;
    font-family : KoriganITC TT, "JuliesHand", "Emboss", serif;
}

.navbar {
    font-size: 1.5rem;
}

.nav-link:hover {
    box-shadow: 0 0 1rem #1d7b59;
    background: rgba(230,255,230,0.1);
}

.navbar-brand {
    height: 52px;
    padding: 0;
    margin: 0;
    margin-right: 15px;
}

.sidebar {
    padding: 1rem 0.5rem;
}

.sidebar .nav-link {
    color: #fff;
    text-align: center;
}

h1 {
    margin-bottom  : 20px;
    padding-bottom : 9px;
    border-bottom  : 1px solid #eee;
}

.navbar {
    border-bottom : 1px solid #fff;
}

/*
 * Sidebar
 */

.sidebar {
    position     : sticky;
    /*top          : 51px;*/
    top          : 0;
    bottom       : 0;
    left         : 0;
    z-index      : 1000;
    padding-top  : 1rem;
    overflow-x   : hidden;
    overflow-y   : auto; /* Scrollable contents if viewport is shorter than content. */
    border-right : 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
    padding-left  : 0.5rem;
    padding-right : 0;
}

.sidebar .nav {
    margin-bottom : 20px;
}

.sidebar .nav-item {
    width : 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left : 0;
}

.sidebar .nav-link {
    border-radius : 1rem 0 0 1rem;
    color         : #fff;
}


footer {
    color: #fff;
    padding: 0.5rem;
    /*margin-top: 1rem;*/
}

.no-select {
    -webkit-touch-callout : none; /* iOS Safari */
    -webkit-user-select   : none; /* Safari */
    -khtml-user-select    : none; /* Konqueror HTML */
    -moz-user-select      : none; /* Firefox */
    -ms-user-select       : none; /* Internet Explorer/Edge */
    user-select           : none;
}