:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

@font-face {
  font-family: "JJO";
  src: url("/webfonts/Java Jive Outline Condensed.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "FA5";
  src: url("/webfonts/fa-solid-900.ttf");
  font-style: normal;
  font-weight: normal;
}

body {
  cursor: default;
  font-size: 1.1rem;
  min-height: 100vh;
}

main {
  min-height: 60vh;
}

.wrapper {
  min-height: 88vh;
}

.table-active {
  color: white;
}

.faqs {
  font-size: 1.7rem;
}

footer {
  padding: 1rem;
  margin-top: 2rem;
}

footer p {
  margin: 0;
}

toTop {
  font-family: FA5;
  position: fixed;
  font-size: 2rem;
  bottom: 1rem;
  right: 1rem;
  display: none;
  color: rgba(122, 130, 136, 0.4);
}

toTop:hover {
  color: #fff;
}

toTop:before {
  content: '\F139';
}

::-webkit-scrollbar {
  width: 3px;
  height: 2px;
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb {
  background: #7A8288;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.logo {
  font-family: JJO, sans-serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin: 0;
  padding: 0;
}

.navbar-nav a {
  font-weight: 700;
  font-size: 1.2rem;
}

.navbar-nav a:hover {
  color: #fff !important;
}

.sideBar {
  max-height: 82vh;
  overflow-y: auto;
}

.sideBar .list-group {
  list-style: none;
}

.sideBar .list-group .list-group-item {
  padding: 0.5rem;
  margin-bottom: 1px;
}

.fixed-top {
  z-index: 2;
}

.dashboard-content {
  margin-top: 5rem;
  z-index: 0;
}

.sidebar {
  bottom: 0;
  z-index: 5;
  font-size: 1.2rem;
  left: 0;
  padding-top: 1rem;
  padding-right: 5px;
  position: fixed;
  top: 0;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.sidebar .nav-item:last-child {
  margin: 0;
}

.sidebar .nav-item {
  padding: 5px 15px;
  background: rgba(39, 43, 48, 0.7);
  font-size: 1rem;
  border-radius: 0 19px 19px 0;
  margin-bottom: 3px;
}

.sidebar .nav-item:hover {
  background: #1c1e22;
}

.sidebar .nav-link {
  padding: 3px;
  color: #fff;
}

.form-label-group {
  margin-bottom: 1rem;
  position: relative;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #495057;
  display: block;
  left: 0;
  line-height: 1.5;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  position: absolute;
  top: 0;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  width: 100%;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-bottom: calc(var(--input-padding-y) / 3);
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
}

.form-label-group input:not(:placeholder-shown) ~ label {
  color: #777;
  font-size: 12px;
  padding-bottom: calc(var(--input-padding-y) / 3);
  padding-top: calc(var(--input-padding-y) / 3);
}

@media (max-width: 576px) {
  .row {
    margin: 0;
  }

  .d-xs-none {
    display: none;
  }

  .col,
  .col-2 {
    padding: 0 2px;
  }

  .container {
    padding: 0 5px;
  }

  .logo {
    font-size: 1.6rem;
    padding: 5px 0;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }

  hr {
    margin: 0.5rem 0;
  }
}

@media (max-width: 768px) {
  .logo {
    padding: 10px 0;
  }
}

@media (min-width: 767px) {
  .sideBar {
    min-height: 80vh;
  }
}

.navbar {
  background: #3A3F44;
}

.sidebar,
.sideBar {
  background: #3A3F44;
}

.share {
  background: #3A3F44;
}

footer a {
  color: #62c462;
}

footer a:hover {
  color: #40a940;
}

