@import "theme/slate/variables";

$body-bg : #272b30;
$bg-navbar : $primary;
$bg-sidebar : $primary;
$bg-share : $primary;
$border-color-sidebar : $dark;
$bg-link-sidebar : $dark;
//$link-color : #df691a;