@import "variables";

:root {
  --input-padding-x : .75rem;
  --input-padding-y : .75rem;
}

@font-face {
  font-family : "Argos";
  src         : url('/webfonts/Argos.ttf');
  src         : url('/webfonts/Argos.eot');
  src         : url('/webfonts/Argos.woff');
  src         : url('/webfonts/Argos.woff2');
  font-style  : normal;
  font-weight : normal;
}

html {
  height : 100%;
  width  : 100%;
}

body {
  background : #fdfefd;
  cursor     : default;
  font-size  : 1rem;
  min-height : 100%;
}

.wrapper {
  min-height : 90vh;
}

header {
  color   : var(--dark);
  height  : 3rem;
  padding : 0.25rem 0;
}

header img {
  border-radius : 3px;
  height        : 2.5rem;
  width         : 2.5rem;
}

.logo {
  font-family : Argos, sans-serif;
  font-size   : 3rem;
  line-height : 2.5rem;
  margin      : 0;
  padding     : 0;
  text-shadow : 3px 0 #000;
}

.sideBar {
  max-height : 80vh;
  overflow-y: auto;
  padding: 0 5px;
  .list-group {
    list-style : none;
    .list-group-item {
      padding       : 0.5rem;
      margin-bottom : 1px;
      border-radius : 7px !important;
    }
  }
}

.nav-scroller {
  position   : relative;
  z-index    : 2;
  height     : 2.75rem;
  overflow-y : hidden;
  .scroll {
    display                    : -ms-flexbox;
    display                    : flex;
    -ms-flex-wrap              : nowrap;
    flex-wrap                  : nowrap;
    padding-bottom             : 1rem;
    margin-top                 : -1px;
    overflow-x                 : auto;
    text-align                 : center;
    white-space                : nowrap;
    -webkit-overflow-scrolling : touch;
  }
}

.card {
  position : relative;
}

.dept-name, .issue-date {
  position                  : absolute;
  color                     : #fff;
  background                : #ddd;
  border-bottom-left-radius : 5px;
  border-top-left-radius    : 5px;
  right                     : 0;
  font-size                 : .8rem;
  padding                   : 4px 7px;
  background                : $info;
}

.dept-name {
  top : 7px;
}

.issue-date {
  top : 40px;
}

.logo {
  height : 4rem;
}

footer {
  padding    : 1rem;
  margin-top : 1rem;
  border-top : 2px solid #222;
  p {
    margin : 0;
  }
}

/*
 * Sidebar of Admin panel
 */

.sidebar {
  bottom    : 0;
  font-size : 1.2rem;
  left      : 0;
  padding   : 1rem 0.5rem 0 0;
  position  : fixed;
  top       : 0;
}

.sidebar .nav-item:last-child {
  border-bottom : none;
  border-top    : 1px solid var(--secondary);
}

.sidebar .nav-item {
  border-bottom : 1px solid var(--secondary);
}

.sidebar .nav-link {
  color : #fff;
}

.sidebar .nav-link:hover {
  box-shadow : 0 0 1rem #000;
}

/*
*   Form Style
*/
.form-label-group {
  margin-bottom : 1rem;
  position      : relative;
}

.form-label-group > input,
.form-label-group > label {
  padding : var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  border        : 1px solid transparent;
  border-radius : .25rem;
  color         : #495057;
  display       : block;
  left          : 0;
  line-height   : 1.5;
  margin-bottom : 0; /* Override default `<label>` margin */
  position      : absolute;
  top           : 0;
  transition    : all .1s ease-in-out;
  width         : 100%;
}

.form-label-group input::-webkit-input-placeholder {
  color : transparent;
}

.form-label-group input:-ms-input-placeholder {
  color : transparent;
}

.form-label-group input:-ms-input-placeholder {
  color : transparent;
}

.form-label-group input::-moz-placeholder {
  color : transparent;
}

.form-label-group input::placeholder {
  color : transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-bottom : calc(var(--input-padding-y) / 3);
  padding-top    : calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
}

.form-label-group input:not(:placeholder-shown) ~ label {
  color          : #777;
  font-size      : 12px;
  padding-bottom : calc(var(--input-padding-y) / 3);
  padding-top    : calc(var(--input-padding-y) / 3);
}

::-webkit-scrollbar {
  width              : 2px;
  height             : 2px;
  background-color   : transparent;
  -webkit-box-shadow : inset 0 0 6px rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar-thumb {
  background         : #333;
  -webkit-box-shadow : inset 0 0 6px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background : $primary;
}