@import "theme/flatly/variables";

$bg-navbar : $primary;
$bg-sidebar : $light;
$bg-share : $primary;
$border-color-sidebar : $dark;
$bg-link-sidebar : $dark;
$toTop-hover: #000;
@import "bs/bootstrap";
@import "theme/flatly/bootswatch";
@import 'style';

footer {
  background: $secondary;
}